@{
    ViewData["Title"] = "Misión empresarial";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>
    <p>
        La biblioteca es una institución de puertas abiertas para todas las personas y entidades; donde se
        respeta el sentir y proceder artístico de cada uno, con el deseo de crear un clima de convivencia
        ciudadana.
        Promover la lectura, escritura, la información y conocimiento, y las actividades de las diferentes
        manifestaciones artísticas: danza folclórica, teatro, manualidades, tradición oral, rescate
        memoria cultural, pintura infantil, cine, tertulias, entre otras, a toda la comunidad de Olaya como
        nuestros principales usuarios. Proyectamos estas manifestaciones a otros municipios en los
        intercambios culturales, respaldamos iniciativas que tengan como fin lograr la identidad cultural
        en el municipio.
    </p>
</div>