@model WebOlayaDigital.Models.Post

@{
    ViewData["Title"] = "Actualizar post";
    string mensaje = ViewBag.Error;
}

<div class="container mt-5">
    <form class="mt-5" asp-action="UpdatePost" enctype="multipart/form-data" asp-controller="admin" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="Id" type="hidden" value="@Model.Id" />

        <div class="form-group">

            <label asp-for="Tittle" class="control-label"></label>
            <input asp-for="Tittle" class="form-control" />
            <span asp-validation-for="Tittle" class="text-danger"></span>

        </div>
        <div class="form-group">

            <label asp-for="Category" class="control-label"></label>
            <select class="form-control selectpicker" data-style="btn btn-link" asp-for="Category" asp-items="@Model.Categories">
                <option value="">Seleccionar</option>
            </select>
            <span asp-validation-for="Category" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <textarea asp-for="Description" class="form-control" rows="10"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="form-group formFile">
            <label asp-for="File" class="formFile"></label>
            <input asp-for="File" type="file" class="formFile" accept="image/png, image/jpeg, image/jpg" />
            <span asp-validation-for="File" class="text-danger"></span>
        </div>
  
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <input type="submit" value="Actualizar" class="btn btn-primary" />
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <a asp-action="Index" asp-controller="Home">Cancelar</a>
                    </div>
                </div>
            </div>
        </div>

    </form>

    @if (!string.IsNullOrEmpty(mensaje))
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <strong>Advertencia!</strong> @mensaje 
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

       

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
