@{
    ViewData["Title"] = "Visión empresarial";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>
    <p>
        En la biblioteca trabajamos para ser el eje principal en las líneas de lectura, escritura,
        información y las de todas las manifestaciones artístico-culturales. Buscamos que la comunidad
        participe de todas las actividades que se programen. Planeamos y concertamos proyectos que
        nos conviertan en una institución dinámica y con proyección, fortaleciendo la integración cultural
        respetando los derechos fundamentales y nos interesa el orden social del municipio.
    </p>
</div>